<!DOCTYPE html>
<html>
<title>memory</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Raleway", Arial, sans-serif}
h1 {letter-spacing: 20px}
.w3-row-padding img {margin-bottom: 12px}

</style>

 
 <a href="index"><button class="w3-button w3-ripple w3-red">BACK</button></a>
</div>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-center w3-opacity" style="padding:128px 16px">
  <h1 class="w3-xlarge">PHOTOGRAPHER</h1>
  <h1>MEMORY WNCHY</h1>
  

   
  </div>
</header>

<!-- Photo Grid -->
<div class="w3-row-padding w3-grayscale" style="margin-bottom:128px">
  <div class="w3-half">
    <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/48385469_2147175885532301_6171360442296827904_n.jpg?_nc_cat=111&_nc_oc=AQn6cTTsgVTNoRH5HmlRCn0784E_9GUQKyKIL-8OvzoORrl_NGW48sdidtILuoxzUuI&_nc_ht=scontent.fbkk14-1.fna&oh=b7c0c3de08e48023191b75da3f1480a7&oe=5E16F227" style="width:100%">
    <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/48383757_2147176012198955_1052232352903725056_n.jpg?_nc_cat=105&_nc_oc=AQlY3y4h210KYzNrN6NcAR3MMObHfi673W7t1ZBSwh9NZTilQ6sntqeZ7P05e7a1OAQ&_nc_ht=scontent.fbkk10-1.fna&oh=9ca470350e5fa1ca7772c012e6669deb&oe=5E24E4B1" style="width:100%">
    <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/48367594_2146005665649323_7918645836588777472_n.jpg?_nc_cat=106&_nc_oc=AQmur_WzXSotGdNbT0X3FMouOpVm1MZt8nOBo8IlCZlB4VeA_ZF4I5HnkdR1q83ois0&_nc_ht=scontent.fbkk14-1.fna&oh=c0e0e875f41ad79884f8c39606608a7a&oe=5E19CBA7" style="width:100%">
    <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/67538941_2273590452890843_395766191055962112_n.jpg?_nc_cat=107&_nc_oc=AQnFtRKCAGwEgoyWLxtGCSpqn2DV8LYznHk9VM6hrJ7YGr1eu2UNQdqiEuDS5HusQUg&_nc_ht=scontent.fbkk10-1.fna&oh=40c7722a7c2406746ae9a3d84051d1e5&oe=5E1EB563" style="width:100%">
    <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/53139590_2189353641314525_7027425987931406336_n.jpg?_nc_cat=111&_nc_oc=AQnrE4n6B8VA2CNHluYsHOsO1SzkKk3mEOSRms_OCDbdUVMKi6TdqtiO26brPh21k_w&_nc_ht=scontent.fbkk14-1.fna&oh=34b4fd86bfff2d3bfcd5b3007adbd9c8&oe=5E255278" style="width:100%">
    <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/53040321_2188419081407981_8264734189631307776_n.jpg?_nc_cat=104&_nc_oc=AQmpyaP-HWDvZFhEKliRinZAWnXCoTSSnW3TUm3NfMc7ffd86ZK_IwnLf4q8IkFQoTU&_nc_ht=scontent.fbkk14-1.fna&oh=053a70b4ba48092cf97e3a957542f58c&oe=5E5D5F15" style="width:100%">
   
</div>

  <div class="w3-half">
   
    <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/38085191_2063607240555833_6730551878427344896_n.jpg?_nc_cat=110&_nc_oc=AQnveaFlWFyAuSlJR4bXeeGvPqhMflSyIldvt04ce5Of_u1odpFGTNHXuxfiQ43ergU&_nc_ht=scontent.fbkk10-1.fna&oh=0d3910d1d85913faa7662fe0d4df3439&oe=5E547D63" style="width:100%">
    <img src="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/38137316_2064538153796075_2282309281376108544_n.jpg?_nc_cat=104&_nc_oc=AQmcCs_uJZKi1o_K_kIz5wS3quf6M4tq8JLz5WzhZhACdBc3XQJ3eE6Jayhh6BflRzY&_nc_ht=scontent.fbkk14-1.fna&oh=88624e02c1931bab18ddd1cb1dfec1ad&oe=5E21686A" style="width:100%">
    <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/68878245_2574754462577277_3686246559005016064_n.jpg?_nc_cat=102&_nc_oc=AQnPHAgfTFxgFmqqqyVlvK8AjTqCw18uR_EJUMeo9IF5hc5QsMCYJ6_LxTQBU4gESS0&_nc_ht=scontent.fbkk10-1.fna&oh=a1f4db610c7a30074bb1103be2f2a884&oe=5E601C4E" style="width:100%">
    <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/38515501_1768865803208527_7064093214659051520_n.jpg?_nc_cat=101&_nc_oc=AQnJPx73KFfdqBKpBzKcHBLQ0vbqf7dqLVRe-5NTEtgD7SjSatZegdAoxCR2F6Y0ZIA&_nc_ht=scontent.fbkk10-1.fna&oh=8923e9e940d7f6d79e455cef10328c0e&oe=5E2010EF" style="width:100%">
    <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/67610312_2277497942500094_5029394428599468032_n.jpg?_nc_cat=107&_nc_oc=AQnE0Xrm32BMPQ1J9NysA8hY80UzEGyQ76e24FjEmia-B3GTOXov070-l4kBaP8WYlM&_nc_ht=scontent.fbkk10-1.fna&oh=80be8f731bce6cebae8d5f84c5cd9572&oe=5E293C04" style="width:100%">
    <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t1.0-9/48364863_310791122867952_8167029164025577472_n.jpg?_nc_cat=103&_nc_oc=AQnyvL-45rgcGSDdtSCsqDxzCRtv-6RWM5oCHFdHntZT5P44s6CTQk3XkgcyQ6CVu9E&_nc_ht=scontent.fbkk10-1.fna&oh=e0e296cba2e8ac695a02c124175368b7&oe=5E19AEA7" style="width:100%">
  </div>
</div>
  
<!-- End Page Content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-large"> 
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
  <p>Thanks for watchingy</p>
</footer>
<div class="w3-bar">
            
        

</body>
</html>
