<!DOCTYPE html>
<html>
<head>
<style>
div {
  border: 1px solid gray;
  padding: 8px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}

p {
  text-indent: 50px;
  text-align: center;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008CBA;
}
</style>
</head>
<body background="https://scontent.fbkk14-1.fna.fbcdn.net/v/t1.0-9/71142194_2314039995512555_4146769269062893568_n.jpg?_nc_cat=100&_nc_oc=AQmnX01_uVs3FK1bNFmv6yGkhh78yMIxrHLBZ2039YPoFijQTFoglLutgiLsIsFA4WY&_nc_ht=scontent.fbkk14-1.fna&oh=9c80a1eaaca09b98b11db5d4961263e3&oe=5E5C45F8">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div>

<center><h1>Definition for me</h1></center>
<center><p style="color: white;">Don’t try to understand everything. Sometimes it is not meant to be understood, just acceped.</p></center>
 
</div>
</body>